<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/plugins/layui/css/layui.css">
    <script type="text/javascript" src="/static/plugins/layui/layui.js"></script>
</head>
<body>
<form class="layui-form">
    <input type="hidden" name="articleId" value="{$articleId}">
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">修改意见</label>
        <div class="layui-input-block">
            <textarea name="modifyAdvice" placeholder="请输入修改意见" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="button" class="layui-btn layui-btn-primary" onclick="submitAdvice()">提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<script>
    layui.use(['layer', 'form'], function(){
        layer = layui.layer;
        form = layui.form;
        $ = layui.jquery;
    });
</script>
</body>
</html>